.main__about {
    margin-top: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-family: "TT Lakes Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: start;
    @media (width: 768px) {
        width: 312px;
    }
    @media (min-width: 768px) and (max-width: 1119px) {
        margin: 0;
        line-height: 20px;
    }
    @media (min-width: 1120px) {
        margin-bottom: 0;
        margin-left: 34px;
        margin-right: 36px;
        margin-top: 16px;
        width: 490px;
    }
}

.main__about--visible-tablet {
    font-family: "TT Lakes Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: start;
    margin: 0;
    @media (max-width: 767px) {
        display: none;
    }
    @media (width: 768px) {
        width: 312px;
    }
    @media (min-width: 768px) and (max-width: 1119px) {
        line-height: 20px;
    }
}
.main__about--visible-desktop {
    font-family: "TT Lakes Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: start;
    margin: 0;
    @media (max-width: 767px) {
        display: none;
    }
    @media (width: 768px) {
        display: none;
    }
    @media (min-width: 768px) and (max-width: 1119px) {
        display: none;
    }
    @media (min-width: 1120px) {
        display: inline;
    }
   }

.main__read-more-button {
    font-family: "TT Lakes Regular";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 0;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1119px) {
        margin-left: 0;
    }
    @media (min-width: 1120px) {
        margin-left: 32px;
        margin-top: 14px;
    }
}

.main__read-more-button::before {
    content: "";
    background-image: url('../img/readmore.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.main__image-photo {
    margin-left: 0;
    margin-right: 28px;
    padding: 0;
    border-radius: 5px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1119px) {
        max-width: 360px;
        max-height: 208px;
        margin-right: 25px;
        margin-left: 50px;
        padding-bottom: 40px;
        border-radius: 5px;
        }
    @media (min-width: 1120px) {
        max-width: 530px;
        margin-left: 0;
        margin-right: 28px;
        margin-bottom: 50px;
        padding: 0;
        border-radius: 5px;
    }
    }

.visible-destop {
    @media (max-width: 767px) {
        display: none;
    }
    @media (width: 768px) {
        display: block;
    }
    @media (min-width: 768px) and (max-width: 1119px) {
        display: block;
    }
    @media (min-width: 1120px) {
        display: block;
    }
}