.brands-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    row-gap: 16px;
    column-gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    &-wrapper {
        padding-left: 24px;
        padding-right: 24px;
        @media (min-width: 1120px) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 1120px) {
        column-gap: 32px;
    }
}