.brands-card {
    box-sizing: border-box;
    width: 224px;
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    &--hidden {
        display: none;
    }
    @media (min-width: 1120px) {
        width: 240px;
    }
}