.repairing-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    &-wrapper {
        padding: 24px;
        @media (max-width: 767px) {
            padding: 0;
        }
        @media (min-width: 1440px) {
            padding-right: 0;
        }
    }
    &__item {
        width: 224px;
        height: 160px;
        background-color: white;
        border-radius: 6px;
        padding: 16px;
        box-sizing: border-box;
        border: 1px solid #EAEAEA;
        @media (min-width: 1440px) {
            width: 240px;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 1440px) {
        column-gap: 32px;
    }
}

.repairing-list__item {
    &:last-child {
        margin-right: -32px;
    }
}