.header__support--visible-tablet {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1119px) {
    margin-left: auto;
  }
  @media (min-width: 1120px) and (max-width: 1364px) {
    display: inline-flex;
    margin-left: auto;
  }
  @media (min-width: 1365px) {
    display: inline-flex;
    margin-left: auto;
  }
}

.support-button {
  @media (min-width: 768px) and (max-width: 1119px) {
    background: none;
    border: none;
    padding: 0;
    margin-right: 16px; 
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }
  @media (min-width: 1120px) and (max-width: 1440px) {
    background: none;
    border: none;
    padding: 0;
    margin-right: 16px; 
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }
}

.support-button--call {
        background-image: url('/src/img/call.svg');
    }

.support-button--chat {
        background-image: url('/src/img/chat.svg');
    }

.support-button--profile {
        background-image: url('/src/img/profile.svg');
    }

.support-button:last-child {
        margin-right: 0;
    }