@use '../variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 19px 16px;
  height: 88px;
  background-color: #ffffff;
  @media (min-width: 768px) and (max-width: 1119px) {
    padding: 19px 24px;
  }
  @media (min-width: 1366px) {
    display: none;
  }
}
.logo {
  &__img {
    width: 96px;
    height: 50px;
  }
}
