@import './header/header.scss';
@import './header/header__buttons.scss';
@import './header/header__container.scss';
@import './header/header__menu-and-logo.scss';
@import './header/header__support.scss';
@import './main/main.scss';
@import './main/main-content.scss';
@import './main/main__title.scss';
@import './main/main__about.scss';
@import './nav/main__nav.scss';
@import './nav/nav__item.scss';
@import './nav/nav__link.scss';
@import './nav/nav__list.scss';
@import './sidebar/sidebar.scss';
@import './sidebar/sidebar__footer.scss';
@import './sidebar/sidebar__header.scss';
@import './sidebar/sidebar__menu.scss';
@import './brands/brands.scss';
@import './brands/brands__title.scss';
@import './brands/brands-slider.scss';
@import './brands/brands-list.scss';
@import './brands/brands-card.scss';
@import './brands/swiper-card.scss';
@import './brands/swiper-pagination.scss';
@import './brands/show-button.scss';
@import './brands/swiper.scss';
@import './repairing-brands/repairing-brands.scss';
@import './repairing-brands/repairing-brands__title.scss';
@import './repairing-brands/repairing-brands__slider.scss';
@import './repairing-brands/repairing-card.scss';
@import './repairing-brands/repairing-list.scss';
@import './repairing-brands/repairing-item.scss';
@import './repairing-brands/repairing__show-button.scss';
@import './repairing-brands/repairing-service.scss';
@import './price/price.scss';
@import './price/price__slider-button.scss';
@import './price/price__slider-card-item.scss';
@import './price/price__slider-card.scss';
@import './price/price__slider-wrapper.scss';
@import './price/price__slider.scss';
@import './price/price__title.scss';
@import './price/price-list.scss';
@import './price/typeofservice.scss';
@import './price/price__description.scss';
@import './footer/footer.scss';
@import './modals.scss/modal__title.scss';
@import './modals.scss/modal.scss';






@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-color: #F8F8F8;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.blur {
  filter: blur(6px);
  pointer-events: none;
}