.price__slider-button {
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 16px;
    font-family: "TT Lakes Regular";
    text-transform: uppercase;
    padding: 4px 8px 4px 12px;
    margin-left: 28px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: white;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &::after {
        content: '';
        margin-left: 8px;
        margin-right: 8px;
        background-image: url(/src/img/goside.svg);
        width: 24px;
        height: 24px;
    }
    &:hover {
        opacity: 0.5;
    }
}